<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Offer.Me</a>
        <ul class="nav navbar-nav navbar-pills navbar-right" role="tabslist">
          <!--<li class="active"><%= link_to 'Add New Record', new_content_path %></li>-->
        </ul>
    </div>
  </div>
</nav>
